
/*added padding to all pages on both sides, made the background light blue*/
body{
  padding-left: 10%;
  padding-right: 10%;
  background-color: lightblue;
}
.img-container{
  margin: auto;
}
/* created image margin and bloc to center the photos*/
img{
  display: block;
  margin:auto;
}
  /*Adjusted H1 size to be the top headline on each page, centered them and put in times new roman*/
h1{
  font-size: 4em;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  border: 1px;
  text-align: center;
}

/* Adjusted H2 size to make it sub-head size, centered them and put in times new roman*/
h2{  
  font-size: 3em;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  border: 1px;
  text-align: center;}
/* Adjusted H3 size to make my clips headlines smaller, centered them and put in Times New Roman*/
  h3{
  font-size: 2em;
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  border: 1px;
  text-align: center;}


/*desktop--- adjusted width and margins for portfolio to work on  desktop website*/
#content {
  width: 50%;
  margin: auto;
  line-height: 1.5em;
  font-size: 1.5em;
  
}

/*phone---adjusted width to work with mobile devices*/
@media (orientation: portrait) {
  #content {
      width: 100%;
      line-height: 1.5em;
      font-size: 1.5em;}
  #nav-bar {
      flex-direction: row;
  }
}

/* made nav-bar, made it horizontal by switching flex-direction*/
#nav-bar {
  display: flex;
  flex-direction: row;
}

/* added margins to nav-button to improve spacing between each button*/

.nav-button {
  margin: auto;
}
/*changed nav-button colour here to make it match the black text throughout the website */

.nav-button a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

  /* increased font size and line height to make text more readable*/
P{
  font-size:1.5em;
  line-height: 1.5em;
  padding bottom;40px;
}
/*created caption tag to differientiate in size with rest of text.*/
caption{
  font-size: 1em;
  line-height: 1em;
  padding-bottom: 40px;
}

/* adjusted size for youtube video*/
.yt {
  width:500px;
}

#content{
  width:50%;
  margin:auto;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  background-color: #00000;
}

#nav-button{
margin: auto;
}
/* Created style for form to try to center google form, need some help on this. */
#form{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#iframe{
  display:block;
  margin:auto;
}
